body {
  display: grid;
  gap: 20px;
  background: lightcoral;
  width: 100vw;
  justify-content: center;
  align-content: center;
}

section {
  border: 2px solid lightgray;
  padding: 10px;
  background: white;
  width: 300px;
  margin-bottom: 10px;
}

[data-js='answer'] {
  font-family: 'Courier New', Courier, monospace;
}

span {
  border-bottom: lightcoral 1px solid;
  cursor: default;
}

form {
  display: grid;
  gap: 20px;
  width: 300px;
  justify-content: center;
  align-content: center;
  background: lightcoral;
  border: solid white 1px;
  padding: 10px;
  margin: 20px;
}
title {
}
question {
}

answer {
}
